{% load static %}
<!DOCTYPE html>

<html>
<head>
<title>Wallet</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'css/layout.css' %}" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
    {% csrf_token %}
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
<div class="wrapper row0">
  <div id="topbar" class="clear"> 
   
  </div>
</div>

<div class="wrapper row1">
  <header id="header" class="clear"> 
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1 ><a href="#" style="color:cornflowerblue;"><i><img src="/static/images/logo.png" alt=" " /></i>QuickPay</a></h1><br>
      <p>Admin Pannel</p>
    </div>
    <div class="fl_right">
      
    </div>
    <!-- ################################################################################################ --> 
  </header>
</div>
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <div class="rounded">
    <nav id="mainav" class="clear"> 
      <!-- ################################################################################################ -->
      <ul class="clear">
        <li><a href="/indexadmin">Home</a></li>
        
        <li ><a class="drop" href="#">Views</a>
          <ul>
            <li><a href="/adminuserview">Users</a></li>
            <li><a href="/adminspview">Service Providers</a></li>
          </ul>
        </li>
        <li class="active"><a class="drop" href="#">Transactions</a>
          <ul>
            <li><a href="/admindth">DTH</a></li>
            <li><a href="/adminmob">Mobile</a></li>
          
            
            
          </ul>
        </li>
        <li><a href="/admincmpl">Complaints</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
      <!-- ################################################################################################ --> 
    </nav>
  </div>
</div>
<!-- ################################################################################################ --> 
<!-- ################################################################################################ --> 
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <div class="rounded">
    <main class="container clear"> 
      <!-- main body --> 
      <!-- ################################################################################################ -->
      <h1 style="color:purple">TOTAL COMMISION</h1>
      <p>&nbsp;</p>
      
   
   

<input type="button" value="RS.&nbsp;{{p}}" style="background:darkorchid;font-size:x-large;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color: white;width: 39em;height: 3em;">
      <br>
     <a href="/admindth" style="font-size: large;color:blue;margin-left: 740px;">Back to previous</a>   
    
          
     
      <!-- ################################################################################################ --> 
      <!-- / main body -->
      <div class="clear"></div>
    </main>
  </div>
</div>
    <div class="wrapper row5">
  <div id="copyright" class="clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2020 - All Rights Reserved </p>
    <!-- ################################################################################################ --> 
  </div>
</div>
<!-- JAVASCRIPTS --> 
      </body></html>